<a href="https://colab.research.google.com/github/knsaravanan1990/sample/blob/main/testing%20collab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
list=[10,22,[22,33],44,(66,88,100),81]
new = [11,22,33]
list.append(new)
print(list)
for i in list:
  print(i)

[10, 22, [22, 33], 44, (66, 88, 100), 81, [11, 22, 33]]
10
22
[22, 33]
44
(66, 88, 100)
81
[11, 22, 33]

In [7]:
list=[10,22,[22,33],44,(66,88,100),81,22]
new = [11,22,33]
list.extend(new)
print(list)
print(list.count(22))
list.insert(2,'sar')
print(list)
list.pop()
print(list)
list.remove(44)
print(list)

[10, 22, [22, 33], 44, (66, 88, 100), 81, 22, 11, 22, 33]
3
[10, 22, 'sar', [22, 33], 44, (66, 88, 100), 81, 22, 11, 22, 33]
[10, 22, 'sar', [22, 33], 44, (66, 88, 100), 81, 22, 11, 22]
[10, 22, 'sar', [22, 33], (66, 88, 100), 81, 22, 11, 22]

In [14]:
tup=(1,'sara',44)
print(type(tup))
print(tup)
print(tup[0:1])
for i in tup:
  print(i)

<class 'tuple'>
(1, 'sara', 44)
(1,)
1
sara
44

In [ ]:
testing the collab